html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100vh;
     background: url(../images/purple-light.jpg) no-repeat 50% 50%;
     background-size: cover;
     
}

a{
    text-decoration:none; 
}

.title {
     position: absolute;
     top: 50%;
     left: 55%;
     transform: translate(-50%, -50%);
     opacity: 0.9;
}

h1 {
     text-transform: uppercase;
     font-size: 60px;
     font-weight: bolder;
     letter-spacing: 10px;
     color: #fff;
     font-family: 'UniqueRegular'; 
}

.menu-strip {
     background: #9064dd ;
     position: fixed;
     width: 4%;
     height: 100vh;
     z-index: 1;
}

.toggle-btn {
     position: absolute;
     top: 10%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.toggle-btn ion-icon {
     font-size: 28px;
     color: #BE9CED   ;
}

.nav .menu {
     margin-left:-13%;
     opacity: 0.8;
     position: absolute;
     width: 0%;
     height: 100vh;
     left: 10%;
     background:  #6A1B9A ;
}

.bg {
     position: absolute;
     width: 100%;
     height: 100vh;
     background: red;
}

.nav .menu ul {
     list-style: none;
     position: absolute;
     top: 36%;
     left: 36%;
     transform: translate(-50%, -50%);
     cursor: pointer;
}

.nav .menu ul li {
     color: #594637;
     font-weight: lighter;
     font-size: 2rem;
     line-height: 60px;
}

#tag {
     font-size: 18px;
     font-weight: lighter;
     color: #afafaf;
     transition: 0.3s;
}


.nav .menu ul li:hover #tag {
     color: #a66f2c;
     transition: 1s;
}

#menu {
 background: linear-gradient(#5B5B5B,#5B5B5B) left no-repeat, #afafaf;
 background-size:0% 100%;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 transition: 1s;
}

#menu:hover {
 background-size:100% 100%;
}

.hide {
     display: none;
}

@media(max-width: 768px) {
     .nav .menu {
           width: 0%;
           left: 20%;
     }

     .menu ul {
           margin-top: 80px;
           margin-left: -20px;

     }

     .menu-strip {
           width: 12%;
     }

     .toggle-btn {
           position: absolute;
           transform: translate(-50%, -90%);
     }

     .menu li #menu {
           font-size: 0.9rem;
     }

     #tag{
           display: none;
     }
}

.content
{
    font-size: calc(5px + 2vw);
    color: #fff;
}

h1 {
     position: relative;
     font-size: calc(5px + 4vw);
     font-weight: 500;
     color: #fff;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     text-shadow: 0 0 0.15em #1da9cc;
     user-select: none;
     white-space: nowrap;
     filter: blur(0.007em);
     animation: shake 2.0s linear forwards;
 }
 
 h1 span {
     position: absolute;
     top: 0;
     left: 0;
     transform: translate(-50%, -50%);
     -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
             clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
 }
 
 h1::before,
 h1::after {
     content: attr(data-text);
     position: absolute;
     top: 0;
     left: 0;
 }
 
 h1::before {
     animation: crack1 2.5s linear forwards;
     -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
             clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
 }
 
 h1::after {
     animation: crack2 2.5s linear forwards;
     -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
             clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
 }
 
 @keyframes shake {
     5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
         filter: blur(0.01em);
         transform: translateY(0.018em) rotate(0deg);
     }
 
     10%, 30%, 40%, 50%, 70%, 80%, 90% {
         filter: blur(0.01em);
         transform: translateY(-0.018em) rotate(0deg);
     }
 
     20%, 60% {
         filter: blur(0.03em);
         transform: translate(-0.018em, 0.018em) rotate(0deg);
     }
 
     45%, 85% {
         filter: blur(0.03em);
         transform: translate(0.018em, -0.018em) rotate(0deg);
     }
 
     100% {
         filter: blur(0.007em);
         transform: translate(0) rotate(-0.5deg);
     }
 }
 
 @keyframes crack1 {
     0%, 95% {
         transform: translate(-50%, -50%);
     }
 
     100% {
         transform: translate(-51%, -48%);
     }
 }
 
 @keyframes crack2 {
     0%, 95% {
         transform: translate(-50%, -50%);
     }
 
     100% {
         transform: translate(-49%, -53%);
     }
 }